---
import "../styles/moon.css";
---

<div>
    <moon>
        <spin>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
            <c></c>
        </spin>
    </moon>
</div>
